html,body{
	overflow-x: hidden;
	height: 100%; 
}
body{
	background: white;
	padding: 0;
	margin: 0;
}
body{/*
	background-image: url();
	background-size: cover;
	background-position: center;*/
}
.header{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	background-color: #000295;
	position: fixed;
	height: 60px !important;
	overflow: hidden;
	z-index: 10;
}
.main{
	margin: 0 auto;
	display: block;
	height: 100%;
	margin-top: 60px;
}
.maininner{
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}
#sidebarMenu{
	height: 100%;
	position: fixed;
	left: 0;
	width: 150px;
	background: linear-gradient(0deg,#F1B893,#000295);
	margin-top: 60px;
	transform: translateX(-250px);
	transition: transform 250ms ease-in-out;
}
.sidebarMenuInner{
	margin: 0;
	padding: 0;
	border-top: 1px solid rgba(255,255,255,0.10);
}
.sidebarMenuInner li{
	list-style: none;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px;
	cursor: pointer;
	border-bottom: 1px solid rgba(255,255,255,0.10);
}
.sidebarMenuInner li span{
	display: block;
	font-size: 14px;
	color: rgba(255,255,255,0.50);
}
.sidebarMenuInner li a{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu{
	transform: translateX(0);

}
input[type="checkbox"]{
	transition: all 0.3s;
	box-sizing: border-box;
	display: none;
}
.sidebarIconToggle{
	transition: all 0.3s;
	box-sizing: border-box;
	cursor: pointer;
	position: absolute;
	z-index: 99;
	height: 100%;
	width: 100%;
	top: 22px;
	left: 15px;
	height: 22px;
	width: 22px;
}
.spinner{
	transition: all 0.3s;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: white;
}
.horizontal{
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-top: 3px;
}
.diagonal.part-1{
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
}
.diagonal.part-2{
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: left;
	margin-top: 3PX;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal{
	transition: all 0.3s;
	box-sizing: border-box;
	opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1{
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(180deg);
	margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2{
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(-180deg);
	margin-top: -1px;
}



